/* inspired by http://codepen.io/andornagy/pen/xhiJH */

nav.site-nav { 
	margin-bottom: 50px;
	background-color: #E64A19;
}

nav.site-nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav.site-nav ul li {
	display:inline-block;
	background-color: #E64A19;

    z-index: 10;  /*Do not be hidden by markdown content.*/
}

nav.site-nav a {
	display:block;
	padding:0 0.5em;
	color:#FFF;
	line-height: 2.5em;
	text-decoration:none;
}

nav.site-nav a:hover { 
	background-color: #000000; 
}

/* special hack to make hover not disappear when moving mouse down.*/
nav.site-nav >  ul > li > ul {
	top: 2.2em;
}

/* Hide Dropdowns by Default */
nav.site-nav ul ul {
	display: none;
	position: absolute; 
	top: 2.5em;
}
	
/* Display Dropdowns on Hover */
nav.site-nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav.site-nav ul ul li {
	width:15em;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav.site-nav ul ul ul li {
	position: relative;
	top:-2.5em; 
	left:15em;
}


	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
